[submodule "timeflux_brainflow"]
	path = timeflux_brainflow
	url = https://github.com/timeflux/timeflux_brainflow
	branch = master
[submodule "mne-cpp"]
	path = mne-cpp
	url = https://github.com/mne-tools/mne-cpp
	branch = master
